body { 
  padding-top: 70px; 
}

p {
  margin: 10px;
}

pre[class*="language-"] {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

code[class*="language-"] {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

#ribbon {
  position: fixed;
  top: 0px;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
  z-index: 10;
}

#github-button {
  position: fixed;
  top: 15px;
  right: 150px;
  border: 0;
  z-index: 10;
}

#navbar {
  z-index: 9;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.disclaimer {
  margin: 20px 0;
  padding: 5px 15px 5px 15px;
  border-left: 5px solid;
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.info {
  margin: 20px 0;
  padding: 5px 15px 5px 15px;
  border-left: 5px solid;
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.main-section {
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.example-live {
  position: relative;
  padding: 40px 0 10px 15px;
  margin: 0;
  background-color: #fafafa;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}

.example-live:after {
  content: "LIVE";
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  letter-spacing: 1px;
}

.example-markup {
  position: relative;
  padding: 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
}

.example-markup:after {
  content: "HTML";
  position: absolute;
  top:  10px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  letter-spacing: 1px;
}

.example-cljs {
  position: relative;
  padding: 40px 0 10px 15px;
  margin: 0;
  background-color: #fafafa;
}

.example-cljs:after {
  content: "CLJS";
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  letter-spacing: 1px;
}

.example-markup, .example-cljs {
  border-radius: 0;
  border-width: 0;
}

@media screen and (min-width: 768px) {
  .example-live {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
}

#tests-results {
  padding-top: 20px;
  max-height: 250px;
  overflow: auto;
}

.panel-body {
  list-style-type: none;
  margin-bottom: 0;
  padding: 5px 10px 5px;
}

.panel-body > h4 {
  display: inline;
  padding-right: 10px;
  margin-bottom: 5px;
}

.panel-body > li {
  margin-left: 10px;
}

.panel-title {
  display: inline;
  padding-right: 10px;
}

.test-ns-pass {
}

.test-ns-pass > i {
  color: #468847;
}

.test-ns-fail {
}

.test-ns-fail > i {
  color: #b94a48;
}

.test-result {
}

.test-pass {
}

.test-pass > i {
  color: #468847;
}

.test-expected-value > span {
  margin-left: 5px;
  margin-right: 5px;
}

.test-pass > .test-result > .test-expected-value {
  display: none;
}

.test-actual-value > span {
  margin-left: 5px;
  margin-right: 5px;
}

.test-pass > .test-result > .test-actual-value {
  display: none;
}

.test-fail {
}

.test-fail > i {
  color: #b94a48;
}

.test-error {
}